@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-work-sans: "Work Sans";

  --color-hitcolor-50: #edeff8;
  --color-hitcolor-100: #dee1f2;
  --color-hitcolor-200: #b9c1e4;
  --color-hitcolor-300: #98a3d7;
  --color-hitcolor-400: #7786ca;
  --color-hitcolor-500: #5265bc;
  --color-hitcolor-600: #3f50a2;
  --color-hitcolor-700: #324081;
  --color-hitcolor-800: #242e5d;
  --color-hitcolor-900: #131830;
  --color-hitcolor-950: #090b16;
}

@layer components {
  .glass {
    background: rgba(13, 62, 105, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(13, 62, 105, 1);
  }
}
