@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here.
All colors MUST be HSL.
*/
@theme {
  --font-work-sans: "Work Sans", sans-serif;

  --color-hitcolor-50: #e7ecfe;
  --color-hitcolor-100: #d3dcfd;
  --color-hitcolor-200: #a3b5fa;
  --color-hitcolor-300: #7892f8;
  --color-hitcolor-400: #476cf5;
  --color-hitcolor-500: #1c49f3;
  --color-hitcolor-600: #0c36d5;
  --color-hitcolor-700: #092aa6;
  --color-hitcolor-800: #061c6f;
  --color-hitcolor-900: #030d35;
  --color-hitcolor-950: #02071d;
}

@layer components {
  .glass {
    background: rgba(13, 62, 105, 0.12);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(13, 62, 105, 1);
  }
}
